[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/CLI11"]
	path = third_party/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "third_party/FTXUI"]
	path = third_party/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/mutex"]
	path = third_party/mutex
	url = https://github.com/username000101/yamc
[submodule "third_party/rpc"]
	path = third_party/rpc
	url = https://github.com/username000101/rpclib
[submodule "third_party/subprocess"]
	path = third_party/subprocess
	url = https://github.com/benman64/subprocess
[submodule "third_party/glaze"]
	path = third_party/glaze
	url = https://github.com/stephenberry/glaze
